@import "tailwindcss";

@theme {
  --color-accent: #D5A310;
  --color-primary: #040304;
  --color-secondary: #2C2C2C;
  --color-background: #F1F0EB;
  --color-borderlines: #292113;
  --color-text-white: #F1F0EB;
}